{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "About this project" %}{% endblock %}

{% block content %}
    <article class="container infopage-container">
        <h1 class="infopage-title">Über dieses Projekt</h1>

        <section class="infopage-section">
            <h2 class="infopage-header">Wir sind keine offizielle Seite der Stadt</h2>
            <p>...</p>
        </section>

        <section class="infopage-section">
            <h2 class="infopage-header">Die Entwicklung</h2>
            <p>München Transparent, Prototype Fund, Links zu den Blogeinträgen</p>
        </section>
    </article>
{% endblock %}