{# This template should be overridden using a city-specific template as described in the /readme.md #}

{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Contact" context "Contact page title" %}{% endblock %}

{% block content %}
    <article class="container infopage">
        <h1>{% trans "Contact" context "Contact page h1" %}</h1>
        <p>{% trans "E-Mail" context "Contact page" %}:
            <a href="mailto:{{ settings.TEMPLATE_META.contact_mail }}">{{ settings.TEMPLATE_META.contact_mail }}</a>
        </p>
    </article>
{% endblock %}
