<h2>Facebook-Login</h2>
<p>Wir bieten die Möglichkeit, sich für unseren Dienst mit dem Facebook-Login anzumelden.
    Damit ist es nicht mehr nötig, sich mit einem extra Passwort bei uns zu registrieren.
    Wenn Sie diese Möglichkeit nutzen, werden Sie von uns zu Facebook weitergeleitet, wo Sie sich mit Ihren
    Nutzungsdaten anmelden können, falls Sie dort noch nicht angemeldet sind.</p>
<p class="fw-bold">Wenn sie das Facebook-Login nicht nutzen, werden keine Daten an Facebook übertragen.</p>
<p>Durch die Nutzung dieser Funktion erhalten wir von Facebook Ihren Namen sowie Ihre E-Mail-Adresse. Wir nutzen
    diese Daten ausschließlich dazu, Ihnen auf unserer Seite einen Zugang einzurichten und Ihnen an diese
    E-Mail-Adresse Benachrichtigungen schicken zu können, falls Sie solche abonnieren.</p>
<p>Weitere Informationen zum Facebook-Login und den Privatsphäre-Einstellungen finden Sie in den
    <a href="https://de-de.facebook.com/about/privacy/">Datenschutzhinweisen</a> sowie den
    <a href="https://www.facebook.com/legal/terms">Nutzungsbedingungen</a> der Facebook Inc.</p>
