{% load staticfiles i18n %}{% load render_bundle from webpack_loader %}<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% render_bundle 'mainapp' 'css' %}
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="{% url 'index' %}" class="navbar-brand">{% trans "Home" %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'profile-home' %}">{% trans "My Account" %}</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'account_logout' %}">{% trans "Log out" %}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
                </li>
            {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>


{% block content %}
{% endblock %}

<footer class="footer">
    <div class="container">
        <a class="white-text" href="https://github.com/CatoTH/opensourceris">Github</a>
        <a class="white-text" href="https://prototypefund.de/">Prototype Fund</a>
    </div>
</footer>


{% render_bundle 'mainapp' 'js' %}

</body>
</html>