{% load staticfiles i18n %}{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="robots" content="{{ seo_robotos_index }},follow"/>
    {% render_bundle settings.TEMPLATE_META.main_css 'css' %}
    {% block additional_css %}{% endblock %}
</head>
<body>

{% block header %}
    {% if main_content_id %}
        <a href="#{{ main_content_id }}" class="sr-only">{% trans "Skip navigation" %}</a>
    {% else %}
        <a href="#main-content" class="sr-only">{% trans "Skip navigation" %}</a>
    {% endif %}

    <nav class="navbar navbar-expand-lg navbar-expand-md navbar-dark bg-navbar" id="main-menu">
        <div class="container">
            {% include 'partials/base_navbar.html' %}
        </div>
    </nav>
{% endblock %}

<main id="main-content" class="{% block main_content_classes %}{% endblock %}">
    {% block messages %}
        {% include 'partials/messages.html' %}
    {% endblock %}
    {% block content %}
    {% endblock %}
</main>

<footer class="navbar navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-dark bg-navbar">
    {% include 'partials/base_footer.html' %}
</footer>

{% render_bundle 'vendor' 'js' %}
{% render_bundle 'mainapp' 'js' %}

{% block additional_js %}{% endblock %}

</body>
</html>