{% load staticfiles i18n %}{% load render_bundle from webpack_loader %}<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% render_bundle 'mainapp' 'css' %}
    {% block additional_css %}{% endblock %}
</head>
<body>

{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="main-menu">
    <a href="{% url 'index' %}" class="navbar-brand">OS RIS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu-content"
            aria-controls="main-menu-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-menu-content">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile-home' %}">{% trans "My Account" context 'navigation' %}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" context 'navigation' %}</a>
                </li>
            {% endif %}
        </ul>
        {% if user.is_authenticated %}
            <form class="form-inline logout-form" method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button class="btn" type="submit">{% trans "Log out" %}</button>
            </form>
        {% endif %}
        {% if not disable_header_search %}
        <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'search' %}">
            <input class="form-control mr-sm-2" type="text" name="query" required
                   placeholder="{% trans "Search" context "page_title" %}" aria-label="{% trans "Search" context "perform search" %}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{% trans "Search" context "perform search" %}</button>
        </form>
        {% endif %}
    </div>
</nav>
{% endblock %}

<main id="main-content">
    {% block content %}
    {% endblock %}
</main>

<footer class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'info_contact' %}">{% trans "Contact" context 'navigation' %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'info_privacy' %}">{% trans "Privacy Policy" context 'navigation' %}</a></li>
        <li class="nav-item"><a class="nav-link" href="https://prototypefund.de/">Prototype Fund</a></li>
        <li class="nav-item"><a class="nav-link" href="https://github.com/CatoTH/opensourceris">Github</a></li>
    </ul>
</footer>

{% render_bundle 'vendor' 'js' %}
{% render_bundle 'mainapp' 'js' %}

{% block additional_js %}{% endblock %}

</body>
</html>