node_modules/
venv*/
.venv*/
static/
storage/
testdata/
webpack-stats.json
db.sqlite3
Dockerfile*
etc/docker-compose.yml
docker-dev.yml
**/__pycache__
mainapp/assets/bundles
.git
.idea
.tox
.env*
*.log
.pytest-cache/
log/
*.sqlite3
