**/__pycache__
*.log
*.sqlite3
.env*
.git
.idea
.pytest-cache/
.tox
.venv*/
Dockerfile
db.sqlite3
docker-dev.yml
etc/dev/
etc/docker-compose.yml
log/
mainapp/assets/bundles
node_modules/
static/
storage/
testdata/
venv*/
webpack-stats.json
