# Django / Custom Stuff
db.sqlite3
node_modules/
webpack-stats.json
import-storage/
import-oparl-cache/
.env

# Python Stuff
__pycache__/
*.py[cod]
*$py.class
venv/
pip-log.txt
pip-delete-this-directory.txt

# Translations
*.mo
*.pot
*.log

