# Django / Custom Stuff
*.sqlite3
node_modules/
webpack-stats.json
storage/
static/
config/
cache/
media/
site/
/*.env*
testdata/fake_cache
./custom_*/
docs/index.md

# Python Stuff
__pycache__/
*.py[cod]
*$py.class
*.egg-info
.tox
venv*
.venv*
pip-log.txt
pip-delete-this-directory.txt
pip-wheel-metadata
dist

# Translations
*.mo
*.pot
*.log

# Docker
docker-compose.override.yml
