# Custom
/*.env*
/testdata/fake_cache
/custom_*/
/docs/index.md
/mainapp/assets/bundles/

# Django
/*.sqlite3
/node_modules/
/storage/
/static/
/config/
/cache/
/media/
/site/

# Python Stuff
__pycache__/
*.py[cod]
*$py.class
*.egg-info
.tox
/venv*
/.venv*
/dist
.ruff_cache

# Translations
*.mo
*.pot
*.log

# Docker
docker-compose.override.yml
etc/dev/minio_data
etc/dev/elasticsearch_data
etc/dev/mariadb_data
