certifi==2017.7.27.1
chardet==3.0.4
click==6.7
defusedxml==0.5.0
Django==1.11.6
django-allauth==0.34.0
django-anymail==1.1
django-braces==1.11.0
django-csp==3.3
django-debug-toolbar==1.8
django-elasticsearch-dsl==0.4.1
django-environ==0.4.4
django-geojson==2.10.0
django-settings-export==1.2.1
django-webpack-loader==0.5.0
django-widget-tweaks==1.4.1
elasticsearch==5.4.0
elasticsearch-dsl==5.3.0
Flask==0.12.2
-e git://github.com/stadt-karlsruhe/geoextract.git@b18296b54e79b664388ad71804e64bdd50161b85#egg=geoextract
geopy==1.11.0
icalendar==3.11.7
idna==2.6
itsdangerous==0.24
Jinja2==2.9.6
jsonfield==2.0.2
MarkupSafe==1.0
mysqlclient==1.3.12
nltk==3.2.5
numpy==1.13.3
oauthlib==2.0.6
pdfminer.six==20170720
pyahocorasick==1.1.4
pycryptodome==3.4.7
python-dateutil==2.6.1
python-slugify==1.2.4
python3-openid==3.1.0
pytz==2017.3
pyxdg==0.25
requests==2.18.4
requests-oauthlib==0.8.0
scipy==1.0.0
six==1.11.0
sqlparse==0.2.4
Unidecode==0.4.21
urllib3==1.22
Werkzeug==0.12.2
