{% load i18n %}

<section class="col-auto search-facet search-facet-daterange">
    <h2 class="sr-only">{% trans "Time range" context "search_form" %}</h2>
    <div class="facet-dropdown">
        {# Due to https://github.com/dangrossman/bootstrap-daterangepicker/issues/1490 and https://github.com/dangrossman/bootstrap-daterangepicker/pull/1650 we currently can't use a real rutton here #}
        <div role="button" class="btn btn-sm btn-transparent dropdown-toggle" id="timeRangeButton" tabindex="0"
             data-strings='{
            "today": "{% trans "Today" context "search_form" %}",
            "last_7d":"{% trans "Last 7 days" context "search_form" %}",
            "this_month":"{% trans "This month" context "search_form" %}",
            "last_month":"{% trans "Last month" context "search_form" %}",
            "this_year":"{% trans "This year" context "search_form" %}",
            "custom":"{% trans "Custom range" context "search_form" %}",
            "apply":"{% trans "Apply" context "search_form" %}",
            "na":"{% trans "Cancel Selection" context "search_form" %}",
            "day_names":"{% trans "Su|Mo|Tu|We|Th|Fr|Sa" context "search_form" %}",
            "month_names":"{% trans "January|February|March|April|May|June|July|August|September|October|November|December" context "search_form" %}"
        }'>
            <span class="time-description"
                  hidden="hidden">{{ options.after|date:"Y-m-d" }} - {{ options.before|date:"Y-m-d" }}</span>
            <span class="time-not-set">{% trans "Time range" context "search_form" %}</span>
            <span id="base"></span>
        </div>

        <input id="after" name="after" type="hidden" value="{{ options.after|date:"Y-m-d" }}" autocomplete="off">
        <input id="before" name="before" type="hidden" value="{{ options.before|date:"Y-m-d" }}" autocomplete="off">

        <div class="daterangepicker dropdown-menu daterangepicker-template some-class">
            <div class="calendar left">
                <div class="daterangepicker_input">
                    <input class="input-mini form-control" type="text" name="daterangepicker_start" value=""/>
                    <span class="fa fa-calendar glyphicon glyphicon-calendar"></span>
                    <div class="calendar-time">
                        <div></div>
                        <span class="fa fa-clock-o glyphicon glyphicon-time"></span>
                    </div>
                </div>
                <div class="calendar-table"></div>
            </div>
            <div class="calendar right">
                <div class="daterangepicker_input">
                    <input class="input-mini form-control" type="text" name="daterangepicker_end" value=""/>
                    <span class="fa fa-calendar glyphicon glyphicon-calendar"></span>
                    <div class="calendar-time">
                        <div></div>
                        <span class="fa fa-clock-o glyphicon glyphicon-time"></span>
                    </div>
                </div>
                <div class="calendar-table"></div>
            </div>
            <div class="ranges">
                <div class="range_inputs">
                    <button class="applyBtn btn btn-primary" disabled="disabled"></button>
                    <button class="cancelBtn btn btn-danger remove-filter">
                        <span class="fa-custom fa-xmark"></span>
                        <span>{% trans "Cancel Selection" context "Remove search filter" %}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
