{% load i18n %}

<section class="col-auto search-facet search-facet-document-type">
    <h2 class="sr-only">{% trans "Document Type" context "search_form" %}</h2>
    <div class="dropdown facet-dropdown">
        <button class="btn btn-sm btn-transparent dropdown-toggle" type="button"
                id="documentTypeButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% trans "Document Type" context "search_form" %}
        </button>
        <div class="dropdown-menu" aria-labelledby="documentTypeButton" id="filter-document-type-list">
            {% for doc_type in new_facets.document_type.list %}
                <div class="dropdown-item">
                    <label data-id="{{ doc_type.name }}">
                        {% if doc_type.name in options.document_type %}
                            <input type="checkbox" name="document-type[{{ doc_type.name }}]" checked
                                   value="{{ doc_type.name }}" autocomplete="off">
                        {% else %}
                            <input type="checkbox" name="document-type[{{ doc_type.name }}]"
                                   value="{{ doc_type.name }}" autocomplete="off">
                        {% endif %}

                        <span>{{ doc_type.localized }} </span>
                        <span class="facet-item-count badge badge-secondary">{{ doc_type.count }}</span>
                    </label>
                </div>
            {% endfor %}
            <div class="dropdown-item remove-filter">
                <button class="btn btn-danger">
                    <i class="fa-custom fa-xmark"></i><span>{% trans "Cancel Selection" %}</span>
                </button>
            </div>
        </div>
    </div>
</section>
