{% load i18n %}

<section class="col-auto search-facet search-facet-document-type">
    <h2 class="sr-only">{% trans "Document Type" context "search_form" %}</h2>
    <div class="dropdown facet-dropdown">
        <button class="btn btn-sm btn-transparent dropdown-toggle" type="button"
                id="documentTypeButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% trans "Document Type" context "search_form" %}
        </button>
        <div class="dropdown-menu" aria-labelledby="documentTypeButton">
            <div class="dropdown-item cancel-selection">
                <a href role="button" name="document-type-cancel-selection">
                    <i class="fa-custom fa-close"></i>{% trans "Cancel Selection" %}
                </a>
            </div>
            {% for document_type_id, document_type_name in document_types.items %}
                <div class="dropdown-item">
                    <label>
                        {% if document_type_id in options.document_type %}
                            <input type="checkbox" name="document-type[{{ document_type_id }}]" checked
                                   value="{{ document_type_id }}" autocomplete="off">
                        {% else %}
                            <input type="checkbox" name="document-type[{{ document_type_id }}]"
                                   value="{{ document_type_id }}" autocomplete="off">
                        {% endif %}
                        {{ document_type_name }}
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
