{% load i18n %}

<section class="col-auto search-facet search-facet-persons">
    <h2 class="sr-only">{% trans "Person" context "search_form" %}</h2>
    <div class="dropdown facet-dropdown">
        <button class="btn btn-sm btn-transparent dropdown-toggle" type="button"
                id="personButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% trans "Person" context "search_form" %}
        </button>
        <div class="dropdown-menu" aria-labelledby="personButton">
            <div class="dropdown-item">
                <input type="text" class="form-control"
                       title="{% trans "Search" context "search_form" %}"
                       placeholder="{% trans "Search" context "search_form" %}">
            </div>
            <ul class="dropdown-scroller">
                {% for person in searchable_persons %}
                    <li class="dropdown-item" href="#" data-person-id="{{ person.id }}">
                        {{ person }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>