{% load i18n %}

<section class="col-auto search-facet search-facet-filter-dropdown" id="filter-{{ key }}-list" data-filter-key="{{ key }}">
    <input type="hidden" value="{{ init_value }}" name="{{ key }}" class="value" autocomplete="off">
    <h2 class="sr-only">{% trans label context "search_form" %}</h2>
    <div class="dropdown facet-dropdown">
        <button class="btn btn-sm btn-transparent dropdown-toggle" type="button" id="{{ key }}Button"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                {% if items.count == 0 %}disabled{% endif %}>
            <span class="nothing-selected">{% trans label context "search_form" %}</span>
            <span class="selection"></span>
        </button>
        <div class="dropdown-menu pb-0" aria-labelledby="{{ key }}Button">
            <div class="dropdown-item dropdown-filter">
                <input type="text" class="form-control filter-input facet-internal"
                       title="{% trans "Filter" context "search_form" %}" name="filter-{{ key }}"
                       value="" autocomplete="off" placeholder="{% trans "Filter" context "search_form" %}">
            </div>
            <div class="dropdown-scroller filter-list" id="filter-{{ key }}-list">
                {% for item in items.list %}
                    <a class="dropdown-item filter-item" href="#" data-id="{{ item.id }}"
                       {% if item.doc_count == 0 %}hidden{% endif %} role="button">
                        <span class="name sort">{{ item.name }}</span>
                        <span class="facet-item-count badge badge-secondary"> {{ item.doc_count }}</span>
                    </a>
                {% endfor %}
            </div>
            <div class="dropdown-item remove-filter" role="button">
                <div class="btn btn-danger">
                    <span class="fa-custom fa-xmark"></span>
                    <span>{% trans "Cancel Selection" context "Remove search filter" %}</span>
                </div>
            </div>
        </div>
    </div>
</section>
