{% load i18n %}

<section class="col-auto search-facet search-facet-location"
         data-format-geo-url="{% url 'search_format_geo' settings.TEMPLATE_META.location_limit_lat settings.TEMPLATE_META.location_limit_lng %}">

    <h2 class="sr-only">{% trans "Location" context "search_form" %}</h2>

    <div class="dropdown">
        <button class="btn btn-sm btn-transparent dropdown-toggle" type="button"
                id="locationSelectButton" title="{{ options.location_formatted }}"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="location-description" {% if not options.radius %}hidden="hidden"{% endif %}>
                <span class="radius">{{ options.radius }}</span><span>{% trans "m around" context "Selecting a range in meters" %}</span>
                <span class="location" data-lat="{{ options.lat }}"
                      data-lng="{{ options.lng }}">{{ options.location_formatted }}</span>
            </span>
            <span class="location-not-set" {% if options.radius %}hidden="hidden"{% endif %}>
                {% trans "Location" context "search_form" %}
            </span>
        </button>
        <div class="dropdown-menu" aria-labelledby="locationSelectButton">
            <div class="location-select-map" id="location-select-map" data-map-data="{{ map }}"></div>
            <div>
                <div class="input-group distance-select">
                    <div class="input-group-prepend">
                        <label for="new-radius" class="input-group-text">{% trans "Distance in m" context "Selecting a range in meters" %}:</label>
                    </div>
                    <input type="number" class="form-control new-radius" id="new-radius"
                           data-default="500" value="{{ options.radius }}" autocomplete="off">
                </div>
            </div>
            <div class="input-group">
                <button class="btn discard-btn" type="button">
                    <span class="fa-custom fa-xmark"></span>{% trans "Cancel Selection" %}
                </button>
                <button class="btn select-btn" type="button">
                    <span class="fa-custom fa-check"></span>{% trans "Select" context "search_form" %}
                </button>
            </div>

        </div>
    </div>

    <input type="hidden" name="lat" value="{{ options.lat }}" autocomplete="off">
    <input type="hidden" name="lng" value="{{ options.lng }}" autocomplete="off">
    <input type="hidden" name="radius" value="{{ options.radius }}" autocomplete="off">
</section>
