{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Search" context "page_title" %}: {{ options.searchterm }}{% endblock %}

{% block additional_html_headers %}
    <link rel="alternate" type="application/rss+xml" href="{% url 'search-feed' query %}"
          title="{% trans 'Search results' %}">
{% endblock %}

{% block header %}
    {% with disable_header_search=True main_content_id="endless-scroll-target" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="container shadow">
        <div class="pt-3 px-2">
            <div class="row">
                <div class="col col-auto no-gutters">
                    <h1 class="text-nowrap">{% trans "Search" context "page_title" %}</h1>
                </div>
                {# This col is both spacer and showing the loading spinner #}
                <div class="col">
                    <div class="search-refreshing-spinner fa fa-spinner fa-spin"
                         aria-label="The search is refreshing" hidden="hidden">
                    </div>
                </div>
                <div class="col col-auto">
                    <a class="btn btn-sm btn-light search-feed" href="{% url 'search-feed' query %}"
                       title="{% trans "Search results as RSS-Feed" %}">
                        <span class="fa fa-feed"></span>
                        <span class="sr-only">RSS-Feed</span>
                    </a>
                    {% if settings.ACCOUNT_MANAGEMENT_VISIBLE %}
                        {% include 'partials/subscribe_widget.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
        <form id="detailed-searchform" class="section detailed-searchform p-2 mb-0" method="GET"
              action="{% url 'search' '' %}" data-results-only-url="{% url "search_results_only" "" %}"
              data-title-base="{% trans "Search" context "page_title" %}">

            <!-- Searchterm -->
            <section class="input-group position-relative">
                <h2 class="sr-only"><label for="searchfield-mousetrap">
                    {% trans "Search term" context "search_form" %}
                </label></h2>
                <input name="searchterm" type="text" class="form-control shadow-sm"
                       value="{{ options.searchterm }}" id="searchfield-mousetrap" autocomplete="off"
                       data-suggest-url="{% url 'search_autocomplete' 'SEARCH_TERM' %}"
                       data-querystring="{{ query }}"
                       placeholder="{% trans "Search term" context "search_form" %}"
                       aria-label="{% trans "Search term" context "search_form" %}"
                       title="{% trans 'Search (Alt+F)' %}"
                >
                <button class=" search-icon fa fa-magnifying-glass" type="submit"
                        title="{% trans 'Show search results' context 'aria label' %}">
                    <span class="sr-only">{% trans 'Show search results' context 'aria label' %}</span>
                </button>
            </section>
            <div class="align-items-center d-flex flex-wrap">
                {% include "mainapp/search/location_selector.html" %}
                {% include "mainapp/search/document_type.html" %}
                {% include "mainapp/search/date_range.html" %}
                {% include "mainapp/search/filter_dropdown.html" with key="person" items=new_facets.person label="Person" init_value=options.person %}
                {% include "mainapp/search/filter_dropdown.html" with key="organization" items=new_facets.organization label="Organization" init_value=options.organization %}
                {% include "mainapp/search/sorter_widget.html" %}
            </div>
        </form>

        <section class="section" id="results-section">
            {% include "mainapp/search/results_section.html" %}
        </section>
    </div>
{% endblock %}
