{% load i18n %}

<section class="col-auto search-facet search-sort" data-default="relevance">
    <input type="hidden" name="sort" value="{{ options.sort }}" autocomplete="off">
    <h2 class="sr-only">{% trans "Sort by" %}</h2>
    <div class="btn-group sort-selector" role="group">
        <button type="button" class="btn btn-sm btn-transparent dropdown-toggle" data-bs-toggle="dropdown"
                id="btnSortDropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fa-custom fa-sort-alpha-a-z"></span>
            <span class="current-mode"></span>
        </button>
        <div class="dropdown-menu" aria-labelledby="btnSortDropdown">
            <div class="dropdown-header">{% trans "Sort by" %}</div>
            <a class="dropdown-item" href="#" data-sort="relevance">{% trans "Relevance" context "search_form" %}</a>
            <a class="dropdown-item" href="#" data-sort="date_newest">{% trans "Newest first" context "search_form" %}</a>
            <a class="dropdown-item" href="#" data-sort="date_oldest">{% trans "Oldest first" context "search_form" %}</a>
        </div>
    </div>
</section>
