DEBUG=False
REAL_HOST=meine-stadt-transparent.de
ELASTICSEARCH_URL_PRIVATE=http://localhost/
ELASTICSEARCH_URL_PUBLIC=https://meine-stadt-transparent.de/elasticsearch/
SECRET_KEY=##########
OPENCAGEDATA_KEY=##########
GEOEXTRACT_DEFAULT_CITY=Köln
MAILJET_API_KEY=##########
MAILJET_SECRET_KEY=##########
USE_ELASTICSEARCH=True
DATABASE_URL=mysql://##########:##########@localhost/meinestadttransparent
DEFAULT_FROM_EMAIL=info@meine-stadt-transparent.de
SITE_DEFAULT_ORGANIZATION=32
SITE_DEFAULT_BODY=1
SITE_GEO_LIMITS={"min": {"lat": 50.8454, "lng": 6.1877}, "max": {"lat": 51.0127, "lng": 6.5317}}
SITE_GEO_CENTER={"lat": 50.9287, "lng": 6.3597}
SITE_GEO_INIT_ZOOM=12
SITE_INDEX_DOCUMENT_DAY=28
CALENDAR_DEFAULT_VIEW=listYear
SITE_SEO_NOINDEX=True
SITE_MAPBOX_ACCESS_TOKEN=##########
SOCIALACCOUNT_USE_FACEBOOK=True
SOCIALACCOUNT_USE_TWITTER=True
TEMPLATE_LOGO_NAME=Jülich
SITE_STRIP_NAME_SALUTATIONS=Frau,Herr,Herrn
