{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "My profile" %}{% endblock %}

{% block content %}
    <div class="container container-mst-account">
        {% if not profile.email_is_verified %}
            <section class="alert alert-warning mst-account-section">
                <p>Deine E-Mail-Adresse ist noch nicht bestätigt.</p>
                <a class="btn btn-primary" href="{% url 'account_email' %}">
                    Jetzt bestätigen
                </a>
            </section>
        {% endif %}

        <section class="card mst-notifications mst-account-section">
            <h2 class="card-header">
                Benachrichtigungen
            </h2>
            <div class="card-body">
                @TODO
            </div>
        </section>

        <section class="card mst-accountsettings mst-account-section">
            <h2 class="card-header">
                Account-Einstellungen
            </h2>
            <div class="card-body">
                {% if not profile.email_is_verified %}
                    <a href="{% url 'account_email' %}" class="btn btn-primary">{% trans "Verify email" %}</a>
                {% else %}
                    <a href="{% url 'account_email' %}" class="btn btn-default">{% trans "Edit email" %}</a>
                {% endif %}


                <a href="{% url 'account_change_password' %}" class="btn btn-link">
                    {% trans "Change your password" %}
                </a>

                @TODO Account löschen
            </div>
        </section>
    </div>
{% endblock %}