{% load i18n %}
<section class="home-container home-container-documents">
    <div class="container">
        <a class="float-end btn btn-sm btn-dark" href="{% url 'paper-feed' %}" title="{% trans "The latest papers as RSS-Feed" %}">
            <span class="fa fa-feed"></span>
            <span class="sr-only">RSS-Feed</span>
        </a>
        <h2 class="home-section-header title-colors">{% trans "Latest Papers" context "Header" %}</h2>
        {% include "partials/mixed_results.html" with results=latest_paper %}
    </div>
</section>
