{% load i18n %}
<section class="home-container home-container-map">
    <div class="container">
        <h2 class="home-section-header title-colors">{% blocktrans %}What's happening in your area?{% endblocktrans %}</h2>
        <p class="instructions title-colors">{% blocktrans %}Click on the marker to see which paper mentions that place.{% endblocktrans %}</p>
        <div id="leaflet-map" class="js-home-map" data-map-data="{{ map }}"
             data-more-file-1="{% trans "and 1 more file" %}" data-more-files-x="{% trans "and %NUM% more files" %}"
        ></div>
    </div>
</section>
