{% extends 'base.html' %}

{% load i18n %}

{% block title %}{{ settings.TEMPLATE_META.site_name }}{% endblock %}

{% block additional_html_headers %}
    <meta name="description"
          content="{% blocktrans %}Up-to-date information about {{ body_name }}'s city politics - by Meine Stadt Transparent, the open source council information system{% endblocktrans %}">
    <link rel="alternate" type="application/rss+xml" href="{% url 'paper-feed' %}" title="{% trans 'Latest papers' %}">

    <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "{{ settings.ABSOLUTE_URI_BASE }}{% url 'index' %}",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "{{ settings.ABSOLUTE_URI_BASE }}/search/query/{search_term_string}/",
    "query-input": "required name=search_term_string"
  }
}
    </script>
{% endblock %}

{% block main_content_classes %}no-padding{% endblock %}

{% block header %}
    {% with True as disable_header_search %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="index-v2">
        {% include 'mainapp/index_v2/index_title.html' %}
        {% include 'mainapp/index_v2/index_search.html' %}
        {% include 'mainapp/index_v2/index_map.html' %}
        {% include 'mainapp/index_v2/index_main_buttons.html' %}
        {% include 'mainapp/index_v2/index_meetings.html' %}
        {% include 'mainapp/index_v2/index_documents.html' %}
    </div>
{% endblock %}
