{% load i18n %}
{% load humanize %}

<section class="home-container home-container-search">
    <div class="container">
        <p>{% trans 'Suche z.B. nach "Schule", "Fahrräder" oder "Haushalt"' context "page_title" %}</p>
        <form class="form search-autocomplete search-autocomplete-home"
              method="GET" action="{% url 'search' '' %}">
            <div class="input-group">
                <label for="searchfield-mousetrap"
                       class="sr-only">{% trans "Search" context "perform search" %}></label>
                <input name="search-query" type="text" class="form-control form-control-lg" value="" autocomplete="off"
                       data-suggest-url="{% url 'search_autosuggest' 'SEARCH_TERM' %}"
                       placeholder="Suche im Volltext von {{ stats.file|intcomma }} Dokumenten"
                       id="searchfield-mousetrap">

                <button class="search-icon fa fa-search fa-lg" type="submit"
                        title="{% trans 'Show search results' context 'aria label' %}">
                    <span class="sr-only">{% trans 'Show search results' context 'aria label' %}</span>
                </button>
            </div>
        </form>
        <div class="pt-3"></div>
    </div>
</section>