{% load i18n %}
<section class="home-container home-container-search">
    <form class="container form search-autocomplete search-autocomplete-home"
          method="GET" action="{% url 'search' '' %}">
        <h2 class="sr-only">{% trans "Search for documents, persons, topics and more" context "page_title" %}</h2>
        <div class="input-group">
            <label for="searchfield-mousetrap" class="sr-only">{% trans "Search" context "perform search" %}></label>
            <input name="search-query" type="text" class="form-control form-control-lg" value="" autocomplete="off"
                   data-suggest-url="{% url 'search_autosuggest' 'SEARCH_TERM' %}"
                   placeholder="{% trans "Search for documents, persons, topics and more" context "page_title" %}"
                   id="searchfield-mousetrap">

            <button class="search-icon fa fa-search fa-lg" type="submit"
                    title="{% trans 'Show search results' context 'aria label' %}">
                <span class="sr-only">{% trans 'Show search results' context 'aria label' %}</span>
            </button>
        </div>
    </form>
</section>