{% load i18n %}
{% load humanize %}

<section class="home-container home-container-search">
    <div class="container">
        {% with num=stats.file|intcomma %}
            <h2>{% blocktrans %}Full-text search in {{ num }} documents{% endblocktrans %}</h2>
        {% endwith %}
        <form class="form search-autocomplete search-autocomplete-home"
              method="GET" action="{% url 'search' '' %}">
            <div class="input-group">
                <label for="searchfield-mousetrap"
                       class="sr-only">{% trans "Search" context "perform search" %}></label>
                <input name="search-query" type="text" class="form-control form-control-lg" value="" autocomplete="off"
                       data-suggest-url="{% url 'search_autocomplete' 'SEARCH_TERM' %}"
                       id="searchfield-mousetrap"
                       title="{% trans 'Search (Alt+F)' %}">

                <button class="search-icon fa fa-magnifying-glass" type="submit"
                        title="{% trans 'Show search results' context 'aria label' %}">
                    <span class="sr-only">{% trans 'Show search results' context 'aria label' %}</span>
                </button>
            </div>
        </form>
        <p class="pt-3 pb-0">{% trans 'Search for example for "School", "Bikes" or "Budget"' %}</p>
    </div>
</section>
