{% load i18n %}
<section class="home-container home-container-title">
    <div class="container">
        <h1 class="project-title title-colors">{{ settings.TEMPLATE_META.product_name }}</h1>
        <p class="lead project-claim title-colors">
            Wir wollen Stadtpolitik für alle zugänglich machen. Dazu bereiten wir die offziellen Informationen der Stadt Jülich auf und stellen sie leicht zugänglich zur Verfügung. Diese Seite wird ehrenamtlich betrieben, ist unabhängig und wird offen entwickelt.
        </p>
        <div class="more-info-link">
            <a href="{% url 'info_about' %}">
                {% trans "More information" %}
                <span class="fa fa-angle-right"></span>
            </a>
        </div>
    </div>
</section>
