{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block title %}{% trans "Not Found" %}{% endblock %}

{% block content %}
    <div class="container">
        <h1>
            {% trans "Sorry, the page you requested could not be found" %}<br>
            <small class="text-muted">{% trans "Error 404" %}</small>
        </h1>
        <img class="img-fluid rounded" src="{% static 'images/sloth_404_cc0_resized.jpg' %}"
             alt="image of a sloth looking weird"/>
    </div>
{% endblock %}
