DEBUG=False
REAL_HOST=opensourceris.local
SECRET_KEY=notsosecretkey
MEDIA_ROOT=/var/storage/meine-stadt-transparent
ABSOLUTE_URI_BASE=https://opensourceris.local

# HTTP is used during development, as self-signed certificates seem to make some problems with urllib3 [TODO]
ELASTICSEARCH_URL_PRIVATE=http://elastic:changeme@opensourceris.local:80/elasticsearch/
ELASTICSEARCH_INDEX=meine_stadt_transparent_documents
USE_ELASTICSEARCH=True

# Use DATABASE_URL=mysql://username:password@localhost/databasename?charset=utf8mb4 in production
DATABASE_URL=sqlite:///db.sqlite3
DEFAULT_FROM_EMAIL=info@example.org
DEFAULT_FROM_EMAIL_NAME="Meine Stadt Transparent"

FILE_DISCLAIMER=Das Dokument stammt aus dem Ratsinformationssystem der Stadt Jülich
FILE_DISCLAIMER_URL=https://sdnetrim.kdvz-frechen.de/rim4240/

MAILJET_API_KEY=
MAILJET_SECRET_KEY=

GEOEXTRACT_DEFAULT_CITY=Köln
SITE_DEFAULT_ORGANIZATION=1
SITE_DEFAULT_BODY=1
SITE_GEO_LIMITS={"min": {"lat": 47.965, "lng": 11.286}, "max": {"lat": 48.296, "lng": 11.871}}
SITE_GEO_CENTER={"lat": 48.137, "lng": 11.575}
SITE_GEO_INIT_ZOOM=12
SITE_MAPBOX_ACCESS_TOKEN=pk...

# You need to generate tokens in the relevant developer poprtal before you can use them
SOCIALACCOUNT_USE_FACEBOOK=False
SOCIALACCOUNT_USE_TWITTER=False

# Custom map styles can be used like this:
# SITE_MAPBOX_TILE_URL=https://api.mapbox.com/styles/v1/tobiashoessl/cj9bafqs84zfl2snxt9o2p65r/tiles/256/{z}/{x}/{y}{highres}?access_token={accessToken}

# Note: A lot of options are omitted here as they have proper defaults.
# You can find them at meine_stadt_transparent/settings.py
