DEBUG=True
REAL_HOST=opensourceris.local
# HTTP is used during development, as self-signed certificates seem to make some problems with urllib3
ELASTICSEARCH_URL_PRIVATE=http://elastic:changeme@opensourceris.local:80/elasticsearch/
ELASTICSEARCH_URL_PUBLIC=https://opensourceris.local/elasticsearch/
SECRET_KEY=notsosecretkey
OPENCAGEDATA_KEY=alsonotsosecretkey
GEOEXTRACT_DEFAULT_CITY=Köln
MAILJET_API_KEY=
MAILJET_SECRET_KEY=
USE_ELASTICSEARCH=False
# Use DATABASE_URL=mysql://username:password@localhost/databasename in production
DATABASE_URL=sqlite:///db.sqlite3
SITE_SEO_NOINDEX=False
DEFAULT_FROM_EMAIL=info@meine-stadt-transparent.de