{% load i18n %}
<section class="container pt-3 home-container-meetings">
    <h2>{% trans "Next Meetings" context "Header" %}</h2>
    <div class="row">
        {% for meeting in next_meetings %}
            <div class="col-sm meeting-col pb-3">
                <a class="btn btn-secondary" href="{% url "meeting" meeting.id %}">
                    <div class="row">
                        <div class="col-auto"><i class="fa fa-3x fa-calendar"></i></div>
                        <div class="col">
                            <div class="lead">{{ meeting.name }}</div>
                            <div>{{ meeting.start }}</div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="d-flex flex-row-reverse">
        <div class="lead">
            <a href="{% url "calendar" %}">{% trans "All meetings in the calendar" %}
                <span class="fa fa-angle-right"></span>
            </a>
        </div>
    </div>
</section>
