{% extends 'base.html' %}

{% load i18n %}

{% block title %}{{ settings.TEMPLATE_META.site_name }}{% endblock %}

{% block additional_html_headers %}
    <link rel="alternate" type="application/rss+xml" href="{% url 'paper-feed' %}" title="{% trans 'Latest papers' %}">
{% endblock %}

{% block header %}
    {% with True as disable_header_search %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="index-v1">
        {% include 'mainapp/index/index_title.html' %}
        {% include 'mainapp/index/index_search.html' %}
        {% include 'mainapp/index/index_map.html' %}
        {% include 'mainapp/index/index_main_buttons.html' %}
        {% include 'mainapp/index/index_meetings.html' %}
        {% include 'mainapp/index/index_documents.html' %}
    </div>
{% endblock %}
