{% load i18n %}
<section class="container pt-3 home-container-search">
    <form class="form search-autocomplete search-autocomplete-home" method="GET" action="{% url 'search' '' %}">
        <div class="input-group">
            <label for="searchfield-mousetrap" class="sr-only">{% trans "Search" context "perform search" %}></label>
            <input name="search-query" type="text" class="form-control" value="" autocomplete="off"
                   data-suggest-url="{% url 'search_autocomplete' 'SEARCH_TERM' %}"
                   placeholder="{% trans "Search for documents, persons, topics and more" context "page_title" %}"
                   id="searchfield-mousetrap"
                   title="{% trans 'Search (Alt+F)' %}">

            <button class="search-icon fa fa-magnifying-glass" type="submit"
                    title="{% trans 'Show search results' context 'aria label' %}">
                <span class="sr-only">{% trans 'Show search results' context 'aria label' %}</span>
            </button>
        </div>
    </form>
</section>
