{% extends "base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Account" %}{% endblock %}

{% block content %}
    <div class="container mst-email-confirm">
        <article class="card">
            <h1 class="card-header">{% trans "E-mail Addresses" %}</h1>
            <main class="card-body">
                {% if user.emailaddress_set.all %}
                    <p>{% trans 'The following e-mail addresses are associated with your account:' %}</p>

                    <form action="{% url 'account_email' %}" class="email_list" method="post">
                        {% csrf_token %}
                        <fieldset class="blockLabels">

                            {% for emailaddress in user.emailaddress_set.all %}
                                <div class="email-list">
                                    <label for="email_radio_{{ forloop.counter }}"
                                           class="{% if emailaddress.primary %}primary_email{% endif %}">

                                        <input id="email_radio_{{ forloop.counter }}" type="radio" name="email"
                                               {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{% endif %}
                                               value="{{ emailaddress.email }}"/>

                                        <span class="address">{{ emailaddress.email }}</span>
                                        {% if emailaddress.verified %}
                                            <span class="verified text-success">{% trans "Verified" %}</span>
                                        {% else %}
                                            <span class="unverified text-danger">{% trans "Unverified" %}</span>
                                        {% endif %}
                                        {% if emailaddress.primary %}
                                            <span class="primary text-primary">{% trans "Primary" %}</span>{% endif %}
                                    </label>
                                </div>
                            {% endfor %}

                            <div class="email-actions">
                                <button type="submit" class="btn btn-light btn-sm"
                                        name="action_primary">{% trans 'Make Primary' %}</button>
                                <button type="submit" class="btn btn-light btn-sm"
                                        name="action_send">{% trans 'Re-send Verification' %}</button>
                                <button type="submit" class="btn btn-danger btn-sm"
                                        name="action_remove">{% trans 'Remove' %}</button>
                            </div>

                        </fieldset>
                    </form>

                {% else %}
                    <p>
                        <strong>{% trans 'Warning:' %}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications and reset your password." %}
                    </p>

                {% endif %}
            </main>
            <footer class="card-footer">
                <div class="row email-add-row">
                    <h2 class="col-sm-4">{% trans "Add E-mail Address" %}:</h2>
                    <form method="post" action="{% url 'account_email' %}" class="add_email col-sm-8">
                        {% csrf_token %}

                        {{ form.non_field_errors }}

                        {{ form.email.errors }}
                        <div class="input-group">
                            {{ form.email|add_class:"form-control" }}
                            <span class="input-group-btn">
                                <button name="action_add" type="submit"
                                        class="btn btn-primary">{% trans "Add E-mail" %}</button>
                                <!--{{ form.email.label }}-->
                            </span>

                        </div>
                    </form>
                </div>
            </footer>
        </article>
    </div>
{% endblock %}


{% block extra_body %}
    <script type="text/javascript">
        (function () {
            var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
            var actions = document.getElementsByName('action_remove');
            if (actions.length) {
                actions[0].addEventListener("click", function (e) {
                    if (!confirm(message)) {
                        e.preventDefault();
                    }
                });
            }
        })();
    </script>
{% endblock %}
