{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "My profile" %}{% endblock %}

{% block content %}
    <div class="container mst-container-account">
        {% if profile.has_unverified_email_adresses %}
            <section class="alert alert-warning mst-account-section">
                <p>{% trans 'Your email address has not been verified' %}</p>
                <a class="btn btn-primary" href="{% url 'account_email' %}">
                    {% trans 'Verify now' %}
                </a>
            </section>
        {% endif %}

        <div class="p-3">
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}"
                           value="{{ redirect_field_value }}">
                {% endif %}
                <button type="submit" class="btn btn-primary">{% trans 'Sign Out' %}</button>
            </form>
        </div>

        <section class="card mst-notifications mst-account-section">
            <h2 class="card-header">
                {% trans 'Notifications' %}
            </h2>
            <div class="card-body">
                {% for alert in alerts %}
                    {{ alert }}
                {% endfor %}
            </div>
        </section>

        <section class="card mst-accountsettings mst-account-section">
            <h2 class="card-header">
                {% trans 'Account Settings' %}
            </h2>
            <div class="card-body">
                {% if not profile.email_is_verified %}
                    <a href="{% url 'account_email' %}" class="btn btn-primary">{% trans "Manage email addresses" %}</a>
                {% else %}
                    <a href="{% url 'account_email' %}" class="btn btn-default">{% trans "Edit email" %}</a>
                {% endif %}

                <a href="{% url 'account_change_password' %}" class="btn btn-primary">
                    {% trans "Change your password" %}
                </a>

                <a href="{% url 'profile-delete' %}" class="pull-right btn btn-danger">
                    {% trans 'Delete account' %}
                </a>
            </div>
        </section>
    </div>
{% endblock %}