{% extends "base_single_panel.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block panel_title %}{% trans "Change Password" %}{% endblock %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block panel_content %}
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}

        {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.oldpassword.errors }}
                {{ form.password1.errors }}
                {{ form.password2.errors }}
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <div class="form-group row">
            <label for="{{ form.oldpassword.id_for_label }}" class="col-sm-5 col-form-label">
                {{ form.oldpassword.label }}:
            </label>
            <div class="col-sm-7">
                {{ form.oldpassword|add_class:"form-control" }}
            </div>
        </div>

        <div class="form-group row">
            <label for="{{ form.password1.id_for_label }}" class="col-sm-5 col-form-label">
                {{ form.password1.label }}:
            </label>
            <div class="col-sm-7">
                {{ form.password1|add_class:"form-control" }}
            </div>
        </div>

        <div class="form-group row">
            <label for="{{ form.password2.id_for_label }}" class="col-sm-5 col-form-label">
                {{ form.password2.label }}:
            </label>
            <div class="col-sm-7">
                {{ form.password2|add_class:"form-control" }}
            </div>
        </div>

        <div class="save-row">
            <button type="submit" class="btn btn-primary" name="action">
                {% trans "Change Password" %}
            </button>
        </div>
    </form>
{% endblock %}
