{% extends "base_single_panel.html" %}

{% load i18n %}
{% load widget_tweaks %}
{% load account %}

{% block panel_title %}{% trans "Password Reset" %}{% endblock %}
{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block panel_content %}

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {{ form.email.errors }}
        <div class="form-group row">
            <label for="{{ form.email.id_for_label }}" class="col-sm-3  col-form-label">
                {{ form.email.label }}:
            </label>
            <div class="col-sm-9">
                {{ form.email|add_class:"form-control" }}
            </div>
        </div>

        <div class="save-row">
            <input type="submit" class="btn btn-primary" value="{% trans 'Reset My Password' %}"/>
        </div>
    </form>
{% endblock %}
