{% extends "base_single_panel.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Set Password" %}{% endblock %}
{% block panel_title %}{% trans "Set Password" %}{% endblock %}

{% block panel_content %}
    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}

        {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.password1.errors }}
                {{ form.password2.errors }}
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <div class="form-group row">
            <label for="{{ form.password1.id_for_label }}" class="col-sm-4 col-form-label">
                {{ form.password1.label }}:
            </label>
            <div class="col-sm-8">
                {{ form.password1|add_class:"form-control" }}
            </div>
        </div>

        <div class="form-group row">
            <label for="{{ form.password2.id_for_label }}" class="col-sm-4 col-form-label">
                {{ form.password2.label }}:
            </label>
            <div class="col-sm-8">
                {{ form.password2|add_class:"form-control" }}
            </div>
        </div>

        <div class="save-row">
            <input type="submit" name="action" value="{% trans 'Set Password' %}" class="btn btn-primary">
        </div>
    </form>
{% endblock %}
