{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "About this project" %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-10 mr-auto ml-auto">
            <section class="card">
                <h1 class="card-header">
                    Über dieses Projekt
                </h1>
                <div class="card-body">
                    <h2 class="card-title">Wir sind keine offizielle Seite der Stadt XYZ...</h2>
                    <p class="card-text">...</p>
                </div>
            </section>
        </div>
    </div>
{% endblock %}