{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ file.name }}{% endblock %}

{% block content %}
    <div class="file-main-content {{ renderer }}">
        <div class="container">
            {% spaceless %}
                <div class="file-header d-flex justify-content-between flex-wrap">
                    <div>
                        {% if file.name %}
                            <div>{{ file.name }}</div>
                        {% endif %}
                        {% if file.legal_date %}
                            <div>{{ file.legal_date }}</div>
                        {% endif %}
                        {% if file.license %}
                            <div>{{ file.license }}</div>
                        {% endif %}
                    </div>
                    <div>
                        {% if is_renderable %}
                            <div>
                                <a href="{% url 'media' file.storage_filename %}">
                                    <i class="fa-custom fa-download" aria-hidden="true"></i>Download
                                </a>
                            </div>
                        {% endif %}
                        {% if papers|length == 1 %}
                            <div>
                                <a href="{% url 'paper' papers.0.id %}" title="{{ papers.0.name }}">
                                    <i class="fa-custom fa-file" aria-hidden="true"></i>{% trans "Paper" %}
                                </a>
                            </div>
                        {% endif %}
                        {% if papers|length > 1 %}
                            <div>
                                <div class="dropdown">
                                    <a class="dropdown-toggle" role="button" href="#"
                                       data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        {% trans "Paper" %}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        {% for paper in papers %}
                                            <a class="dropdown-item" href="{% url 'paper' paper.id %}"
                                               title="{{ paper.name }}">
                                                <i class="fa-custom fa-file" aria-hidden="true"></i>{% trans "Paper" %}
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endspaceless %}
        </div>

        {% if is_available %}
            {% if renderer == "pdf" %}
                <div class="container pdfjs-wrapper">
                    <div class="embed-responsive h-100">
                        <iframe class="embed-responsive-item"
                                src="{% static 'vendored/web/viewer.html' %}?file={% url 'media' file.storage_filename %}">
                        </iframe>
                    </div>
                </div>
            {% elif renderer == "txt" %}
                <div class="container txt-wrapper">
                    <pre class="embed-responsive h-100 border">{{ file.parsed_text }}</pre>
                </div>
            {% elif renderer == "image" %}
                <div class="container img-wrapper">
                    <img src="{% url 'media' file.storage_filename %}" alt="{{ file.description }}" class="file-image">
                </div>
            {% else %}
                <div class="container">
                    <p class="lead">{% trans "The file can not be shown" %}</p>
                    <a class="btn btn-primary btn-lg" role="button" href="{% url 'media' file.storage_filename %}"
                       download>
                        <i class="fa fa-download" aria-hidden="true"></i>
                        {% trans "Download" %}
                    </a>
                </div>
            {% endif %}
        {% else %}
            <div class="container">
                <p class="lead">{% trans "The file is not available" %}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}