{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ file.name }}{% endblock %}

{% block content %}
    <div class="file-main-content {{ renderer }}">
        <div>
            <div class="file-header container d-flex justify-content-between flex-wrap">
                <div>
                    {% if file.legal_date %}
                        <div>{{ file.legal_date }}</div>
                    {% endif %}
                    {% if file.license %}
                        <div>{{ file.license }}</div>
                    {% endif %}
                </div>
                <div>
                    {% spaceless %}
                        <div>
                            <a href="{% url 'media' file.storage_filename %}">
                                <i class="fa fa-custom fa-download" aria-hidden="true"></i>
                                <span>Download</span>
                            </a>
                        </div>
                        {% if papers|length == 1 %}
                            <div>
                                <a href="{% url 'paper' papers.0.id %}" title="{{ papers.0.name }}">
                                    <i class="fa-custom fa-file" aria-hidden="true"></i>
                                    <span>{% trans "Superordinated paper" context "Singular" %}</span>
                                </a>
                            </div>
                        {% endif %}
                        {% if papers|length > 1 %}
                            <div>
                                <div class="dropdown">
                                    <a class="dropdown-toggle" role="button" href="#"
                                       data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        {% trans "Superordinated paper" context "Plural" %}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        {% for paper in papers %}
                                            <a class="dropdown-item" href="{% url 'paper' paper.id %}"
                                               title="{{ paper.name }}">
                                                <i class="fa-custom fa-file" aria-hidden="true"></i>
                                                <span>{% trans "Paper" %}</span>
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endspaceless %}
                </div>
            </div>
        </div>

        {% comment %}
        We want to have a sidebar on the left. So what we do is to split the page in three coloumns. The left and the
        right one are auto-sized while the center one just gets the normal container class (plus a px-0). For the main
        coloumn this has the same effect as using ml-auto, except we can position our sidebar in the left space
        {% endcomment %}
        <div class="file-layout-container container-fluid h-100">
            <div class="row h-100">
                {% if is_available %}
                    <div class="col">
                        <div class="file-switcher h-100">
                            <h3>{% trans "Documents in this paper" %}</h3>
                            {# Yep, those dics are actually needed :soup: #}
                            <div>
                                <div>
                                    <div class="list-group list-group-flush">
                                        {% if papers.0.main_file %}
                                            <a class="list-group-item list-group-item-action
                            {% if papers.0.main_file.id == file.id %}active{% endif %}"
                                               href="{% url 'file' papers.0.main_file.id %}">
                                                <i class="fa-custom fa-file"></i>
                                                {% firstof papers.0.main_file.name papers.0.main_file.displayed_filename %}
                                            </a>
                                        {% endif %}
                                        {% for other_file in papers.0.files.all %}
                                            <a class="list-group-item list-group-item-action {% if other_file.id == file.id %}
                            active{% endif %}"
                                               href="{% url 'file' other_file.id %}">
                                                <i class="fa-custom fa-file"></i>
                                                <span>{% firstof other_file.name other_file.displayed_filename other_file %}</span>
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto file-content-div">
                        {% if renderer == "pdf" %}
                            <div class="pdfjs-wrapper h-100">
                                <div class="embed-responsive h-100 w-100">
                                    <iframe class="embed-responsive-item"
                                            src="{% static 'vendored/web/viewer.html' %}?file={% url 'media' file.storage_filename %}">
                                    </iframe>
                                </div>
                            </div>
                        {% elif renderer == "txt" %}
                            <div class="txt-wrapper ">
                                <pre class="embed-responsive h-100 border">{{ file.parsed_text }}</pre>
                            </div>
                        {% elif renderer == "image" %}
                            <div class="img-wrapper ">
                                <img src="{% url 'media' file.storage_filename %}" alt="{{ file.description }}"
                                     class="file-image">
                            </div>
                        {% else %}
                            <p class="lead">{% trans "The file can not be shown" %}</p>
                            <a class="btn btn-primary btn-lg" role="button"
                               href="{% url 'media' file.storage_filename %}"
                               download>
                                <i class="fa fa-download" aria-hidden="true"></i>
                                {% trans "Download" %}
                            </a>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="container">
                        <p class="lead">{% trans "The file is not available" %}</p>
                    </div>
                {% endif %}
                <div class="col">
                    {# "Counterweight" for the left col to get the main container centered #}
                </div>
            </div>
        </div>
    </div>
{% endblock %}