{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Open Source Ratsinformationssystem" %}{% endblock %}

{% block header %}
    {% with True as disable_header_search %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="container">
        <p>Meine Stadt Transparent liefert Informationen zu ihrem Stadtrat <a href="{% url 'about' %}">Mehr erfahren</a></p>
    </div>

    <div class="container pb-3">
        <form class="form form-home-search" method="GET" action="{% url 'search' %}">
            <div class="input-group search-autocomplete">
                <input name="query" type="text" class="form-control" value="" autocomplete="off"
                       data-suggest-url="{% url 'search_autosuggest' %}"
                       placeholder="{% trans "Search" context "page_title" %}"
                       aria-label="{% trans "Search" context "perform search" %}">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">{% trans "Search" context "perform search" %}</button>
                </span>
            </div>
        </form>
    </div>

    <div class="container pb-5">
        <div class="container">
            <div id="leaflet-map" class="js-home-map" data-map-data="{{ map }}"></div>
        </div>

        <nav class="home-main-links">
            <div class="row">
                <div class="col-sm-6 main-link-holder">
                    <a href="{% url 'persons' %}" class="btn btn-primary btn-block">Personen</a>
                </div>
                <div class="col-sm-6 main-link-holder">
                    <a href="{% url 'calendar' %}" class="btn btn-secondary btn-block">Termine</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 main-link-holder">
                    <a href="{% url 'about' %}" class="btn btn-secondary btn-block">Über das Projekt</a>
                </div>
                <div class="col-sm-6 main-link-holder">
                    <a href="" class="btn btn-secondary btn-block">Wie funktioniert Stadtpolitik?</a>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <h2>Aktuelle Dokumente</h2>
        <ul>
            {% for paper in latest_paper %}
                <li><a href="{% url 'paper' paper.id %}">{{ paper }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}