{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Open Source Ratsinformationssystem" %}{% endblock %}

{% block header %}
    {% with True as disable_header_search %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div id="leaflet-map" class="js-home-map" data-map-data="{{ map }}"></div>
        </div>

        <form class="form form-home-search" method="GET" action="{% url 'search' %}">
            <div class="input-group">
                <input name="query" type="text" class="form-control" required
                       placeholder="{% trans "Search" context "page_title" %}"
                       aria-label="{% trans "Search" context "perform search" %}">
                <span class="input-group-btn">
                        <button class="btn btn-primary"
                                type="submit">{% trans "Search" context "perform search" %}</button>
                    </span>
            </div>
        </form>

        <nav class="home-main-links">
            <div class="row">
                <div class="col-sm-6 main-link-holder">
                    <a href="{% url 'persons' %}" class="btn btn-primary btn-block">Personen</a>
                </div>
                <div class="col-sm-6 main-link-holder">
                    <a href="{% url 'calendar' %}" class="btn btn-secondary btn-block">Termine</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 main-link-holder">
                    <a href="{% url 'about' %}" class="btn btn-secondary btn-block">Über das Projekt</a>
                </div>
                <div class="col-sm-6 main-link-holder">
                    <a href="" class="btn btn-secondary btn-block">...</a>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <h2>Aktuelle Dokumente</h2>
    </div>
{% endblock %}