{% extends 'base.html' %}

{% load i18n %}

{% block head_title %}{% trans "Contact" %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-10 mr-auto ml-auto">
            <section class="card">
                <h1 class="card-header">
                    Impressum
                </h1>
                <div class="card-body">
                    <h2 class="card-title">Betreiber</h2>
                    <p class="card-text">...</p>
                </div>
            </section>
        </div>
    </div>
{% endblock %}