{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="section">
            <p>{{ meeting_series.name }}</p>
            <p>{{ meeting_series.description }}</p>
            {% if meeting_series.is_regular %}
                <p>The meeting series is regular</p>
            {% else %}
                <p>The meeting series isn't regular</p>
            {% endif %}
            {% for meeting in meeting_series.meeting_set.all %}
                <p><a href="{% url 'meeting' meeting.id %}">{{ meeting }}</a></p>
            {% endfor %}
        </div>
        <p><a href="{% url 'meeting-series-ical' meeting_series.id %}">Export</a></p>
    </div>
{% endblock %}