{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    {% spaceless %}
        <div class="container">
            {% include "partials/header_name.html" with object=meeting %}

            <p title="{% trans 'Time of the Meeting' %}">
                <i class="fa-custom fa-clock-o" aria-hidden="true"></i>{{ time }}
            </p>
            <p title="{% trans 'Place of the meeting' %}">
                <i class="fa-custom fa-map-marker" aria-hidden="true"></i>{{ meeting.location }}
            </p>

            {% if meeting.committees.all|length == 1 %}
                <p title="{% trans 'Main committee of the meeting' %}">
                    <a href="{% url 'committee' meeting.committees.all.0.id %}">
                        <i class="fa-custom fa-users"
                           aria-hidden="true"></i>{{ meeting.committees.all.0 }}
                    </a>
                </p>
            {% elif meeting.committees.all|length > 1 %}
                {% trans "Participating committees:" as name %}
                {% include "partials/inline_list.html" with objects=meeting.committees.all icon="users" link="committee" %}
            {% endif %}

            {% trans "Further Attendees:" as name %}
            {% include "partials/inline_list.html" with objects=meeting.persons.all icon="user" link="person" %}

            {% if meeting.invitation %}
                <p>
                    <i class="fa-custom fa-file" aria-hidden="true"></i>{% trans 'Invitation: ' %}
                    <a href="{% url 'file' meeting.invitation.id %}">{{ meeting.invitation }}</a>
                </p>
            {% endif %}
            {% if meeting.results_protocol %}
                <p>
                    <i class="fa-custom fa-file" aria-hidden="true"></i>{% trans 'Results protocol: ' %}
                    <a href="{% url 'file' meeting.results_protocol.id %}">{{ meeting.results_protocol }}</a>
                </p>
            {% endif %}
            {% if meeting.verbatim_protocol %}
                <p>
                    <i class="fa-custom fa-file" aria-hidden="true"></i>{% trans 'Verbatim protocol: ' %}
                    <a href="{% url 'file' meeting.verbatim_protocol.id %}">{{ meeting.verbatim_protocol }}</a>
                </p>
            {% endif %}
            {% if meeting.auxiliary_files|length > 0 %}
                <ul>
                    {% for file in meeting.auxiliary_files.all %}
                        <li>
                            <a href="{% url 'file' file.id %}">
                                <i class="fa-custom fa-file" aria-hidden="true"></i>{{ file }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="d-flex justify-content-between1">
                <p class="w-100 text-left">
                    {% if previous %}
                        <a href="{% url 'meeting' previous.id %}">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i> {% trans 'Previous Meeting' %}
                        </a>
                    {% endif %}
                </p>
                <p class="w-100 text-center">
                    <a href="{% url 'meeting-ical' meeting.id %}">
                        <i class="fa fa-download" aria-hidden="true"></i> {% trans 'Export' %}
                    </a>
                </p>
                <p class="w-100 text-right">
                    {% if following %}
                        <a href="{% url 'meeting' following.id %}">
                            {% trans 'Following Meeting' %}
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                </p>
            </div>

            <h3>{% trans 'Agenda' %}</h3>
            {% if meeting.agendaitem_set.all %}
                <dl class="agenda">
                    {% for agenda_item in meeting.agendaitem_set.all %}
                        <div class="d-flex align-content-start">
                            <dt class="mr-2">{{ agenda_item.key }}</dt>
                            <dd>
                                {% if agenda_item.paper %}
                                    <a href="{% url 'paper' agenda_item.paper.id %}">{{ agenda_item.title }}</a>
                                {% else %}
                                    {{ agenda_item.title }}
                                {% endif %}
                            </dd>
                        </div>
                    {% endfor %}
                </dl>
            {% else %}
                <p class="lead">{% trans 'An Agenda has not been published' %}</p>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}