{% extends 'base.html' %}department
{% load i18n %}

{% block title %}{{ organization.name }}{% endblock %}

{% block content %}
    <div class="container">
        {% include "partials/header_name.html" with object=organization %}

        {% block exttendmeta %}
            {% if organization.start %}
                <p title="The timeframe in which the organization existed">
                    <i class="fa-custom fa-clock-o" aria-hidden="true"></i>{{ organization.start }}
                    {% if organization.end %} - {{ organization.end }}{% endif %}
                </p>
            {% endif %}

            {% trans "Legislative Terms:" as name context "List name" %}
            {% include "partials/inline_list.html" with objects=organization.legislative_terms.all icon="calendar" %}
        {% endblock %}

        <p title="{% trans 'Belongs to this body' %}">
            <i class="fa-custom fa-globe" aria-hidden="true"></i>
            <a href="{{ organization.body.get_default_link }}">{{ organization.body }}</a>
        </p>
        {% if organization.location %}
            <p title="{% trans 'Is located there' %}">
                <i class="fa-custom fa-map-marker" aria-hidden="true"></i>{{ organization.location }}
            </p>
        {% endif %}

        {% trans "Members" as name context "Header" %}
        {% include "partials/header_list.html" with objects=memberships icon="user" %}

        {% trans "Paper" as name context "Header" %}
        {% include "partials/header_list.html" with objects=papers icon="user" %}

        {% trans "Meetings" as name context "Header" %}
        {% include "partials/header_list.html" with objects=meetings icon="calendar" %}
    </div>
{% endblock %}