{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ paper.name }}{% endblock %}

{% block content %}
    <div class="container">
        {% if paper.deleted %}
            {% include "partials/deleted_note.html" %}
        {% endif %}

        <div class="section">
            {% include "partials/header_name.html" with object=paper %}

            {% if paper.description %}
                <p><i class="fa-custom fa-info" aria-hidden="true"></i>{{ paper.description }}</p>
            {% endif %}
            {% if paper.paper_type %}
                <p><i class="fa-custom fa-bookmark" aria-hidden="true"></i>{{ paper.paper_type.paper_type }}</p>
            {% endif %}
            <p><i class="fa-custom fa-tag" aria-hidden="true"></i>{{ paper.reference_number }}</p>
            {% if paper.legal_date %}
                <p><i class="fa-custom fa-calendar"
                      aria-hidden="true"></i>{% trans "Legal date: " %}{{ paper.legal_date }}</p>
            {% endif %}

            {% with paper.organizations.all as objects %}
                {% trans "Submitting Organizations:" as name %}
                {% include "partials/inline_list.html" with icon="users" link="organization" %}
            {% endwith %}

            {% with paper.persons.all as objects %}
                {% trans "Submitting Persons:" as name %}
                {% include "partials/inline_list.html" with link="person" icon="user" %}
            {% endwith %}

            {% if paper.change_request_of %}
                <p>
                    <i class="fa-custom fa-pencil"></i>Change Request of
                    <a href="{% url 'paper' paper.change_request_of.id %}">{{ paper.change_request_of }}</a>
                </p>
            {% endif %}

            <h2 class="h4">{% trans "Files" %}</h2>
            {% if paper.main_file or paper.files.count > 0 %}
                <ul class="list-unstyled">
                    {% if paper.main_file %}
                        <li class="font-weight-bold">
                            <a href="{% url 'file' paper.main_file.id %}">
                                <i class="fa-custom fa-file"></i>
                                {% firstof paper.main_file.name paper.main_file.displayed_filename %}
                            </a>
                        </li>
                    {% endif %}
                    {% for file in paper.files.all %}
                        <li>
                            <a href="{% url 'file' file.id %}">
                                <i class="fa-custom fa-file"></i>{% firstof file.name file.displayed_filename file %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="lead">{% trans "No files attached" %}</p>
            {% endif %}

            <h2 class="h4">{% trans "History" %}</h2>
            <dl class="row">
                {% for entry in history %}
                    <dt class="col-3">{{ entry.meeting.start|date }}</dt>
                    <dd class="col-9">{{ entry }}</dd>
                {% endfor %}
            </dl>

        </div>
    </div>
{% endblock %}6