{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="section">
            <p>{{ parliamentary_group.name }}</p>
            <p>{{ parliamentary_group.short_name }}</p>
            <p>{{ parliamentary_group.start }}</p>
            <p>{{ parliamentary_group.end }}</p>
            {% if parliamentary_group.location %}
                <p><a href="{% url 'location' parliamentary_group.locatio.id %}">{{ parliamentary_group.location }}</a>
                </p>
            {% endif %}
            <p><a href="{% url 'body' parliamentary_group.body.id %}"{{ parliamentary_group.body }}</p>
            <ul>
                {% for term in legislative_terms %}
                    <p><a href="{% url 'term' term.id %}">{{ term }}</a></p>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}