{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ person }}{% endblock %}

{% block content %}
    <div class="container">
        <article class="card">
            <h1 class="card-header">
                {% include 'partials/subscribe_widget.html' %}
                {{ person }}
            </h1>
            <div class="card-body">
                {% if papers %}
                    <h2 class="h3">{% trans "Submitted Papers" %}:</h2>
                    <ul>
                        {% for paper in papers %}
                            <li><a href="{% url 'paper' paper.id %}">{{ paper }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="lead">{% trans "No papers found" %}</p>
                {% endif %}
                {% if memberships %}
                    <h2 class="h3">{% trans "Memberships" %}</h2>
                    <ul>
                        {% for membership in memberships %}
                            <li>
                                {% if membership.start and membership.end %}
                                    {{ membership.start }} - {{ membership.end }}
                                {% elif membership.start %}
                                    {{ membership.start }}
                                {% endif %}
                                <a href="{% url "organization" membership.organization.id %}">
                                    {{ membership.organization.short_name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </article>
    </div>
{% endblock %}