{% extends 'base.html' %}

{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block title %}{% trans "Persons" %}{% endblock %}

{% block content %}
    <section class="container filter-sorter">
        <label>Sortieren nach:
            <select name="sort_by" size="1">
                <option value="name" selected>Name</option>
                <option value="party">Partei</option>
            </select>
        </label>

        <ul class="nav nav-pills" id="filter-parliamentary-groups">
            <li class="nav-item">
                <a class="nav-link active" data-group-id="all" href="#">
                    {% trans "All" %}
                </a>
            </li>
            {% for group in parliamentary_groups %}
                <li class="nav-item">
                    <a class="nav-link" data-group-id="{{ group.id }}" href="#">
                        {{ group.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>

    <section class="container d-flex flex-column">
        <ul class="persons-list row list-unstyled">
            {% for member in members %}
                <li class="col-3 person {{ member.groups_css_classes }}">
                    <div>
                        <a href="{% url 'person' member.id %}">
                            <div class="name">{{ member.name }}</div>
                            <div class="parliamentary-group">{{ member.groups_names }}</div>
                            <div class="role">{{ member.role }}</div>
                            <div class="date">
                                {% if member.end %}
                                    Von {{ member.start }} bis {{ member.end }}
                                {% else %}
                                    Seit {{ member.start }}
                                {% endif %}
                            </div>
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}

{% block additional_js %}
    {% render_bundle 'persons' 'js' %}
{% endblock %}
