{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ person }}{% endblock %}

{% block content %}
    <div class="container">
        <article class="card">
            <h1 class="card-header">
                {% include 'partials/subscribe_widget.html' %}
                {{ person }}
            </h1>
            <div class="card-body">
                {% if papers %}
                    <div>
                    <h2 class="h3">{% trans "Submitted Papers" %}:</h2>
                    <ul>
                        {% for paper in papers %}
                            <li><a href="{% url 'paper' paper.id %}">{{ paper }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="lead">{% trans "No papers found" %}</p>
                {% endif %}
                {% if memberships_active or memberships_no_end or memberships_ended %}
                    <h2 class="h3">{% trans "Memberships" %}</h2>
                    {% for membership_list in memberships %}
                        <dl>
                            {% for membership in membership_list %}
                                <dt>
                                    <a href="{% url "organization" membership.organization.id %}">
                                        {{ membership.organization.short_name }}
                                    </a>
                                </dt>
                                <dd>
                                    {% if membership.role %}
                                        <span class="membership-info">{{ membership.role }}</span>
                                    {% endif %}
                                    {% if membership.start and membership.end %}
                                        <span class="membership-info"> {{ membership.start }}{% trans " - " %}{{ membership.end }}</span>
                                    {% elif membership.start %}
                                        <span class="membership-info"> {% trans "Since " %}{{ membership.start }}</span>
                                    {% endif %}
                                </dd>
                            {% endfor %}
                        </dl>
                        {% if not forloop.last %}
                            <hr>{% endif %}
                    {% endfor %}
                {% endif %}
                </div>
            </div>
        </article>
    </div>
{% endblock %}