{% extends 'base.html' %}

{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block title %}{% trans "Persons" %}{% endblock %}

{% block content %}

    <section class="filter-sorter">
        <label>Sortieren nach:
            <select name="sort_by" size="1">
                <option value="none">-</option>
                <option value="name">Name</option>
                <option value="party">Partei</option>
            </select>
        </label>

        <div class="btn-group parliamentary-group-filter-list pull-right" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="radio" name="parliamentary-group" value="all" autocomplete="off" checked> All
            </label>
            {% for group in parliamentary_groups %}
                <label class="btn btn-primary">
                    <input type="radio" name="parliamentary-group" value="{{ group.id }}" autocomplete="off">
                    {{ group.name }}
                </label>
            {% endfor %}
        </div>
    </section>

    <section class="container persons-list-container">
        <ul class="persons-list">
            {% for member in members %}
                <li class="card person {{ member.groups_css_classes }}">
                    <a href="{% url 'person' member.id %}" class="card-body">
                        <div class="name">{{ member.name }}</div>
                        <div class="parliamentary-group">{{ member.groups_names }}</div>
                        <div class="role">{{ member.role }}</div>
                        <div class="date">
                            {% if member.end %}
                                Von {{ member.start }} bis {{ member.end }}
                            {% else %}
                                Seit {{ member.start }}
                            {% endif %}
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>

    </section>
{% endblock %}

{% block additional_js %}
    {% render_bundle 'persons' 'js' %}
{% endblock %}
