{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Search" context "page_title" %}{% endblock %}

{% block header %}
    {% with True as disable_header_search %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="container">
        <section class="section">
            <h1>{% trans "Search" context "page_title" %}</h1>

            <form id="searchform">
                <div class="input-group search-autocomplete py-3">
                    <input name="searchterm" type="text" class="form-control" value="{{ options.searchterm }}"
                           autocomplete="off"
                           data-suggest-url="{% url 'search_autosuggest' '' %}"
                           placeholder="{% trans "Search" context "page_title" %}"
                           aria-label="{% trans "Search" context "perform search" %}">
                    <span class="input-group-btn">
                        <button class="btn btn-primary"
                                type="submit">{% trans "Search" context "perform search" %}</button>
                    </span>
                </div>

                <div class="row py-3">
                    <div class="input-field col s2">
                        <input id="lat" type="text" name="lat" value="{{ options.lat }}">
                        <label for="lat">Breitengrad</label>
                    </div>
                    <div class="input-field col s2">
                        <input id="lng" type="text" name="lng" value="{{ options.lng }}">
                        <label for="lng">Längengrad</label>
                    </div>
                    <div class="input-field col s2">
                        <input id="lng" type="text" name="radius" value="{{ options.radius }}">
                        <label for="radius">Enterfnung in m</label>
                    </div>
                </div>

                <div class="input-field col s2">
                    <label for="document-type">
                        {% trans "Document Type" context "search" %}
                    </label>
                    <select id="document-type" name="document-type" multiple="multiple">
                        {% for document_type in document_types %}
                            {% if document_type in options.document_type %}
                                <option value="{{ document_type }}" selected>{{ document_type }}</option>
                            {% else %}
                                <option value="{{ document_type }}">{{ document_type }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </form>
        </section>

        <section class="section">
            {% include "partials/mixed_results.html" %}
        </section>
    </div>
{% endblock %}