{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Search" context "page_title" %}{% endblock %}

{% block header %}
    {% with True as disable_header_search %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="container">
        <article class="card">
            <h1 class="card-header">{% trans "Search" context "page_title" %}</h1>
            <form id="detailed_searchform" class="section detailed-searchform p-2">
                <div class="input-group searchterm-row">
                    <label for="searchterm" class="sr-only">{% trans "Search term" context "search_form" %}</label>
                    <input name="searchterm" type="text" class="form-control"
                           value="{{ options.searchterm }}" id="searchterm" autocomplete="off"
                           data-suggest-url="{% url 'search_autosuggest' '' %}"
                           placeholder="{% trans "Search term" context "search_form" %}"
                           aria-label="{% trans "Search term" context "search_form" %}">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                            {% trans "Search" context "search_form" %}
                        </button>
                    </span>
                </div>
                <div class="form-row align-items-center">
                    <div class="col-auto location-col">
                        <div class="sr-only">{% trans "Location" context "search_form" %}</div>

                        <div class="dropdown">
                            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button"
                                    id="locationSelectButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="location-description">
                                    <span class="radius"></span>m around
                                    <span class="lat"></span>,<span
                                        class="lng"></span>
                                </span>
                                <span class="location-not-set">
                                    Location
                                </span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="locationSelectButton">
                                <div class="location-select-map" id="location-select-map"
                                     data-map-data="{{ map }}"></div>
                                <div class="radius-select-row">
                                    <div class="input-group">
                                        <label for="new-radius" class="input-group-addon">Entfernung in m:</label>
                                        <input type="number" class="form-control new-radius" id="new-radius"
                                               value="{{ options.radius }}">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary select-btn" type="button">
                                                {% trans "Select" context "search_form" %}
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" name="lat" value="{{ options.lat }}">
                        <input type="hidden" name="lng" value="{{ options.lng }}">
                        <input type="hidden" name="radius" value="{{ options.radius }}">

                    </div>
                    <div class="col-auto type-col">
                        <div class="sr-only">{% trans "Document Type" context "search_form" %}</div>
                        <div class="dropdown">
                            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button"
                                    id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% trans "Document Type" context "search_form" %}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% for document_type in document_types %}
                                    {% if document_type in options.document_type %}
                                        <div class="dropdown-item">
                                            <label>
                                                <input type="checkbox" name="document-type[]" checked autocomplete="off"
                                                       value="{{ document_type }}">
                                                {{ document_type }}
                                            </label>
                                        </div>
                                    {% else %}
                                        <div class="dropdown-item">
                                            <label>
                                                <input type="checkbox" name="document-type[]" autocomplete="off" value="{{ document_type }}">
                                                {{ document_type }}
                                            </label>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>

        <section class="section">
            {% if results|length > 0 %}
                <ul class="results-list" id="endless-scroll-target">
                    {% include "partials/mixed_results.html" %}
                </ul>
            {% else %}
                <li><p>{% trans "Nothing Found" %}</p></li>
            {% endif %}

            <button class="btn btn-primary" id="start-endless-scroll"
                    data-url="{% url "search_results_only" query=query %}">
                start-endless-scroll
            </button>
        </section>
    </div>
{% endblock %}