{% extends 'email/email_base.html' %}
{% load i18n %}

{% block content %}
    <h1>{% trans "New documents on Meine Stadt Transparent" context 'email-new-documents' %}</h1>
    {% for alert in alerts %}
        <h2>{% trans "Notification" context 'email-new-documents' %}: {{ alert.title }}</h2>
        <ul>
            {% for result in alert.results %}
                <li>
                    {{ result.type_name }}: <a href="{{ result.url }}">{{ result.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
