.file-header {
  // We need to be space efficient on that page, so we remove the default top margin
  margin-top: -#{$main-content-margin-top};
  @extend .py-3;

  > div {
    > div {
      display: inline-block;

      &:after {
        @extend .mx-2;
        content: '/';
      }

      &:last-child:after {
        @extend .mx-0;
        content: '';
      }
    }

    .dropdown-menu {
      max-height: 300px;
      overflow-y: scroll;
    }
  }
}

.file-main-content {
  &.pdf {
    height: calc(100vh - #{$header-height} - 2 * #{$main-content-margin-top});
    display: flex;
    flex-direction: column;
  }

  .pdfjs-wrapper {
    flex: 1;
  }

  .file-image {
    max-width: 100%;
    margin: 0 auto;
  }
}

.txt-wrapper .embed-responsive {
  overflow-x: scroll;
  border-color: $gray-800;
  @extend .px-3;
}

.file-content-div {
  width: $container-width;
  max-width: 100%;
}

.container-fluid {
  @media (max-width: $container-width) {
    .col {
      display: none;
    }
  }
}

.file-switcher {
  // Don't ask me why this work
  // https://stackoverflow.com/a/27461685/3549270
  max-width: calc(#{$container-width} / 2);
  flex-direction: column;

  @include media-breakpoint-up(lg) {
    display: flex;
  }

  @include media-breakpoint-down(lg) {
    display: none;
  }

  > div {
    overflow: hidden;
    flex-grow: 1;
    position: relative;

    > div {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
    }
  }
}