// There's one element with 800 and an outer with 10000
$leaflet-controls-zindex: 1000;
$typeahead-zindex: $leaflet-controls-zindex + 10;
$search-icon-zindex: $typeahead-zindex + 10;

.search-autocomplete-home {
  span.twitter-typeahead {
    z-index: $typeahead-zindex;
  }
}

#leaflet-map {
  height: 400px;

  .leaflet-popup-content-wrapper {
    .paper-title {
      padding-bottom: 5px;
      margin-bottom: 5px;
      border-bottom: solid 1px #ccc;
    }
    .file-location {
      overflow: auto;
      font-size: 12px;
    }
    .location-name {
      float: right;
    }
  }
}
