@import "vars";

.agenda {
  dt {
    min-width: 30px;
  }
  .additional-links {
    display: block;
    font-size: 0.8em;
  }
}

.meeting-section {
  margin-bottom: $default-section-spacing / 2;
}

.meeting-vertical-bar {
  @include media-breakpoint-up(md) {
    border-top: 1px solid $hr-border-color;
    border-bottom: 1px solid $hr-border-color;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  div {
    @extend .py-2;
  }
}