.filter-sorter {
  @extend .pb-3;
}

.filter-parliamentary-groups {
  a {
    outline: 0;
    color: $nav-pills-link-active-color;
    background-color: $nav-pills-link-active-bg;
    @extend .px-2;
  }
}

.persons-list {
  padding: 0;

  > li {
    padding: 0;

    > div {
      background: #eee;
      color: #262524;
      margin: 5px;

      > a {
        display: inline-block;
        padding: 5px;
        width: 100%;
        color: inherit;
        text-decoration: none;

        &:visited, &:hover, &:active {
          color: inherit;
          text-decoration: none;

        }
      }
    }
  }

  .name {
    white-space: nowrap;
    overflow: hidden; // TODO

  }

  .parliamentary-group, .role, .date {
    color: #777;
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden; // TODO

  }
}