@import "vars";

.fc-list-event {
  cursor: pointer;

  &:focus {
    background: #f6f6f6;
  }

  &.cancelled {
    text-decoration: line-through;
  }
}

// We don't need a blue dot in the list view
.fc-list-event-graphic {
  display: none;
}
