@import "vars";
@import "~fullcalendar/dist/fullcalendar";

.fc-list-item {
  cursor: pointer;
}

.fc-scroller {
  height: 100% !important;
}

.fc {
  .btn {
    padding: $content-switcher-btn-padding;
    height: auto;
  }
}