{% load i18n %}
<a href="{% url 'index' %}" class="navbar-brand">{{ settings.TEMPLATE_META.logo_name }}</a>
<a href="{% url 'search' '' %}" class="navbar-toggler">
    <span class="fa fa-magnifying-glass"></span>
    <span class="sr-only">Search</span>
</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#main-menu-content"
        aria-controls="main-menu-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="main-menu-content">
    {% include 'partials/base_navbar_mainmenu.html' %}
    {% if not disable_header_search %}
        <form class="form-inline search-autocomplete" method="GET"
              action="{% url 'search' '' %}">
            <input class="form-control" type="text" name="query" value="" autocomplete="off"
                   data-suggest-url="{% url 'search_autocomplete' 'SEARCH_TERM' %}"
                   placeholder="{% trans "Search" context "page_title" %}"
                   aria-label="{% trans "Search" context "perform search" %}"
                   id="searchfield-mousetrap"
                   title="{% trans 'Search (Alt+F)' %}"
            >
            <button class="search-icon fa fa-magnifying-glass" type="submit"
                    title="{% trans 'Show search results' context 'aria label' %}">
                <span class="sr-only">{% trans 'Show search results' context 'aria label' %}</span>
            </button>
        </form>
    {% endif %}
</div>
