{% if objects|length > 0 %}
    <h2 class="h3">{{ name }}</h2>
    <ul class="list">
        {% for object in objects %}
            <li>
                <span class="multi-list-filter-value">
                    {% if object.get_default_link %}
                        <a href="{{ object.get_default_link }}">{{ object }}</a>
                    {% else %}
                        {{ object }}
                    {% endif %}
                </span>
            </li>
        {% endfor %}
    </ul>
{% endif %}