{% load i18n %}

{% if messages %}
    <section class="messages container" aria-label="Messages">
    {% for message in messages %}
        <div
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    class="alert alert-success"
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    class="alert alert-danger"
                {% else %}
                    class="alert alert-info"
                {% endif %}
        >{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="{% trans 'close message' %}">
                <span class="fa fa-xmark" aria-hidden="true"></span>
            </button>
        </div>
    {% endfor %}
    </section>
{% endif %}
