{% load i18n %}

<ul class="persons-list list-unstyled">
    {% for member in members %}
        <li class="col-md-3 col-sm-6 col-xs-12 person person-{{ member.id }}"
            data-name="{{ member.name }}" data-group-names="{{ member.groups_names }}"
            data-groups="{{ member.groups_classes }}">
            <div>
                <a href="{% url 'person' member.id %}">
                    <div class="name">{{ member.name }}</div>
                    <div class="organization" title="{{ member.groups_names }}">{{ member.groups_names }}</div>
                    <div class="role" title="{{ member.role }}">{{ member.role }}</div>
                    <div class="date">
                        {% if member.end %}
                            {% trans "From" context "persons-list" %} {{ member.start }}
                            {% trans "until" context "persons-list" %} {{ member.end }}
                        {% elif member.start %}
                            {% trans "Since" context "persons-list" %} {{ member.start }}
                        {% endif %}
                    </div>
                </a>
            </div>
        </li>
    {% endfor %}
</ul>
