{% load i18n %}

{% if subscribable %}
    <form method="POST" class="subscribe-widget">
        {% csrf_token %}
        {% if is_subscribed %}
            <button class="btn btn-unsubscribe btn-sm" name="unsubscribe" value="unsubscribe">
                <span class="display-when-not-hovered">
                    <span class="fa fa-check"></span>
                    <span>{% trans "You receive updates" %}</span>
                </span>
                <span class="display-when-hovered">
                    <span class="fa fa-minus"></span> {% trans "Unsubscribe" %}
                </span>
            </button>
        {% else %}
            <button class="btn btn-primary btn-sm" name="subscribe" value="subscribe"
                    title="{% trans 'Get notified about new documents' %}">
                <span class="fa fa-bell"></span> {% trans "Subscribe" %}
            </button>
        {% endif %}
    </form>
{% endif %}
