{% load i18n %}

{% if subscribable %}
    <form method="POST">
        {% csrf_token %}
        {% if is_subscribed %}
            <span class="subscribed-icon fa fa-check"></span>
            <span class="subscribed-str">{% trans "You receive updates" %}</span>
            <button class="btn btn-secondary btn-sm" name="unsubscribe" value="unsubscribe">
                <span class="fa fa-minus"></span> {% trans "Unsubscribe" %}
            </button>
        {% else %}
            <button class="btn btn-primary btn-sm" name="subscribe" value="subscribe"
                    title="{% trans 'Get notified about new documents' %}">
                <span class="fa fa-bell"></span> {% trans "Subscribe" %}
            </button>
        {% endif %}
    </form>
{% endif %}