{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Contact" %}{% endblock %}

{% block content %}
    <article class="container infopage-container">
        <h1 class="infopage-title">Impressum / Kontakt</h1>

        <h2 class="infopage-header">Angaben gemäß § 5 TMG</h2>
        <address>
            Schütze &amp; Hößl GbR - Open Source Ratsinformationssystem<br>
            z.Hd. Tobias Hößl<br>
            Guido-Schneble-Str. 34<br>
            80689 München
        </address>

        <h2 class="infopage-header">Vertreten durch:</h2>
        <p>
            Konstantin Schütze <a href="https://github.com/konstin" title="Konstantin Schütze"><span class="fa fa-github"></span></a> <a href="https://twitter.com/konstinx" title="Konstantin Schütze auf Twitter"><span class="fa fa-twitter"></span></a><br>
            Tobias Hößl <a href="https://github.com/CatoTH" title="Tobias Hößl auf Github"><span class="fa fa-github"></span></a> <a href="https://twitter.com/TobiasHoessl" title="Tobias Hößl auf Twitter"><span class="fa fa-twitter"></span></a> <a href="https://www.hoessl.eu/" title="Website von Tobias Hößl"><span class="fa fa-home"></span></a>
        </p>

        <h2 class="infopage-header">Kontakt</h2>
        <p>
            E-Mail: <a href="mailto:{{ settings.TEMPLATE_META.contact_mail }}">{{ settings.TEMPLATE_META.contact_mail }}</a><br>
            Telefon: +49-1515-6024223
        </p>

        <h2 class="infopage-header">Weitere Angaben</h2>
        <p>
            Steuernummer: 143/566/50485
        </p>
    </article>
{% endblock %}