{% load i18n %}
<div class="file-switcher h-100" role="navigation">
    {% if context_meeting %}
        <h2 class="title-back">
            <a href="{% url 'meeting' context_meeting.id %}">
                <span class="fa fa-chevron-left"></span>
                <span>{% trans "Meeting" %}: {{ context_meeting.name }}</span>
            </a>
        </h2>
        {% if papers %}
            <div class="paper-link-row row">
                <div class="col">
                    <a href="{% url 'paper' papers.0.id %}" title="{{ papers.0.name }}">
                        {% trans "Paper" %}: {{ papers.0.name }}
                    </a>
                </div>
            </div>
        {% endif %}
    {% else %}
        {% if papers %}
            <h2 class="title-back">
                <a href="{% url 'paper' papers.0.id %}" title="{{ papers.0.name }}">
                    <span class="fa fa-chevron-left"></span>
                    <span>{% trans "Paper" %}: {{ papers.0.name }}</span>
                </a>
            </h2>
        {% endif %}
        {% if file.get_assigned_meetings %}
            <h2 class="title-back">
                <a href="{% url 'meeting' file.get_assigned_meetings.0.id %}"
                   title="{{ file.get_assigned_meetings.0.name }}">
                    <span class="fa fa-chevron-left"></span>
                    <span>{% trans "Meeting" %}: {{ file.get_assigned_meetings.0.name }}</span>
                </a>
            </h2>
        {% endif %}
    {% endif %}
    <div class="paper-information row">
        {% if file.legal_date %}
            <div class="col date-col">{{ file.legal_date }}</div>
        {% endif %}
        {% if file.license %}
            <div class="col license-col">{{ file.license }}</div>
        {% endif %}
        <div class="col download-col">
            <a href="{% url 'file-content' file.id %}" download="{{ file.filename }}">
                <span class="fa fa-custom fa-download" aria-hidden="true"></span>
                <span>Download</span>
            </a>
        </div>
    </div>
    {# Yep, those divs are actually needed :soup: #}
    <div class="file-holder-outer">
        <div class="file-holder-inner">
            <div class="list-group list-group-flush">
                {% if papers.0.main_file %}
                    <a class="list-group-item list-group-item-action {% if papers.0.main_file.id == file.id %}active scroll-into-view{% endif %}"
                       href="{% if context_meeting %}{% url 'meeting-file' context_meeting.id papers.0.main_file.id %}{% else %}{% url 'file' papers.0.main_file.id %}{% endif %}">
                        <span class="fa-custom fa-file"></span>
                        {% firstof papers.0.main_file.name papers.0.main_file.filename %}
                    </a>
                {% endif %}
                {% for other_file in papers.0.files_ordered.all %}
                    <a class="list-group-item list-group-item-action {% if other_file.id == file.id %}active scroll-into-view{% endif %}"
                       href="{% if context_meeting %}{% url 'meeting-file' context_meeting.id other_file.id %}{% else %}{% url 'file' other_file.id %}{% endif %}">
                        <span class="fa-custom fa-file"></span>
                        <span>{% firstof other_file.name other_file.filename other_file %}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
