name: Docker publish

on:
  push:
    branches: [ 'main' ]
    tags: [ '*' ]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Docker meta
        id: meta
        uses: crazy-max/ghaction-docker-meta@v2
        with:
          images: konstin2/meine-stadt-transparent
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: konstin2
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: DOCKER_GIT_SHA=${{ env.GITHUB_SHA }}
          cache-from: type=registry,ref=konstin2/meine-stadt-transparent:main
          cache-to: type=inline
      - name: Update repo description
        uses: peter-evans/dockerhub-description@v2
        with:
          username: konstin2
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: konstin2/meine-stadt-transparent
          readme-filepath: ./Readme.md
